li {
  list-style: none;
}
a {
  color: var(--white);
}
a:hover {
  color: var(--primary-color);
}
i {
  font-size: 1.2rem;
}
i:hover {
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
}
.fa-trash-alt {
  color: rgb(208, 8, 8);
}
