:root {
  --primary-color: #ffc69b !important;
  --secondary-color: #f1e7db !important;
  --highlight-color: #b87444 !important;
  --black: #070707 !important;
  --white: #d5d3d3 !important;
  --focus-color: #916647 !important;
  --highlight-color: #c0906d !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary-color);
  /* font-family: 'Bebas Neue', cursive; */
  min-height: 100% !important;
  font-family: "Pridi", serif;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-1-light.png");
}

html {
  min-height: 100% !important;
}
